<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
<appSettings>
    <clear />
    <add key="cmboLocale" value="en_US" />
    <add key="cmboClassID" value="ObjectStore" />
    <add key="tboxObjectID" value="CASA" />
    <add key="tboxDestFolder" value="\CASAExport\" />
    <add key="tboxCreateFolder" value="" />
    <add key="tboxRetryCount" value="2" />
    <add key="tboxTimeout" value="600000" />
    <add key="theGrid..Rows" value="0" />
    <add key="theGrid.CASA.Rows" value="0" />
    <add key="FieldTypes" value="ACCOUNT NUMBER,CUSTOMER NAME,CIF,ACCOUNT OPEN DATE" />
    <add key="theGrid.ACCOUNT NUMBER.Rows" value="0" />
    <add key="tbFieldP8PropName.ACCOUNT NUMBER" value="AccountNumber" />
    <add key="cmbFieldP8PropType.ACCOUNT NUMBER" value="String" />
    <add key="chkFieldEnabled.ACCOUNT NUMBER" value="True" />
    <add key="chkBoxFieldMulti.ACCOUNT NUMBER" value="False" />
    <add key="tboxDocTitle.SAVING NOMINATION FORM DOC" value="@D.TYPE" />
    <add key="DocTypes" value="SAVING NOMINATION FORM DOC,SAVING ACCOUNT OPENING FORM DOC,SAVING KYC DOCUMENT DOC" />
    <add key="tboxDocClass.SAVING NOMINATION FORM DOC" value="SavingAccountOpeningForm" />
    <add key="tboxFileExt.SAVING NOMINATION FORM DOC" value="pdf" />
    <add key="theGrid.SAVING NOMINATION FORM DOC.Rows" value="0" />
    <add key="theGrid.SAVING NOMINATION FORM.Rows" value="0" />
    <add key="theGrid.SAVING ACCOUNT OPENING FORM DOC.Rows" value="0" />
    <add key="theGrid.SAVING ACCOUNT OPENING FORM DOC.Cols" value="0" />
    <add key="tboxDocTitle.SAVING ACCOUNT OPENING FORM DOC" value="bca" />
    <add key="tboxDocClass.SAVING ACCOUNT OPENING FORM DOC" value="abc" />
    <add key="tboxFileExt.SAVING ACCOUNT OPENING FORM DOC" value="pdf" />
    <add key="theGrid.SAVING ACCOUNT OPENING FORM.Rows" value="0" />
    <add key="tboxDocTitle.SAVING KYC DOCUMENT DOC" value="efd" />
    <add key="tboxDocClass.SAVING KYC DOCUMENT DOC" value="def" />
    <add key="tboxFileExt.SAVING KYC DOCUMENT DOC" value="pdf" />
    <add key="theGrid.SAVING KYC DOCUMENT DOC.Rows" value="0" />
    <add key="theGrid.CUSTOMER NAME.Rows" value="0" />
    <add key="tbFieldP8PropName.CUSTOMER NAME" value="custname" />
    <add key="cmbFieldP8PropType.CUSTOMER NAME" value="String" />
    <add key="chkFieldEnabled.CUSTOMER NAME" value="True" />
    <add key="chkBoxFieldMulti.CUSTOMER NAME" value="False" />
    <add key="theGrid.CIF.Rows" value="0" />
    <add key="tbFieldP8PropName.CIF" value="CIF" />
    <add key="cmbFieldP8PropType.CIF" value="String" />
    <add key="chkFieldEnabled.CIF" value="True" />
    <add key="chkBoxFieldMulti.CIF" value="False" />
    <add key="theGrid.ACCOUNT OPEN DATE.Rows" value="0" />
    <add key="tbFieldP8PropName.ACCOUNT OPEN DATE" value="acctopendate" />
    <add key="cmbFieldP8PropType.ACCOUNT OPEN DATE" value="String" />
    <add key="chkFieldEnabled.ACCOUNT OPEN DATE" value="True" />
    <add key="chkBoxFieldMulti.ACCOUNT OPEN DATE" value="False" />
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
