<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdentifyPages.Rul.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<appSettings>
    <add key="Locale" value="en-IN" />
    <add key="BC_IsEnabled" value="False" />
    <add key="BC_Mappings" value="" />
    <add key="BC_Orientation" value="0" />
    <add key="BC_ReqConfidence" value="7" />
    <add key="BC_Types" value="0" />
    <add key="Blank_IsEnabled" value="False" />
    <add key="Blank_PageType" value="Other" />
    <add key="Blank_Side" value="All" />
    <add key="Blank_SizeBytes" value="1500" />
    <add key="CC_IsEnabled" value="False" />
    <add key="CC_KB" value="" />
    <add key="CC_Language" value="English" />
    <add key="CC_ProblemValue" value="0.7" />
    <add key="CC_UpdateKB" value="False" />
    <add key="CC_URL" value="" />
    <add key="FP_AnalyzeImage" value="True" />
    <add key="FP_Application" value="Forms" />
    <add key="FP_CreateNew" value="False" />
    <add key="FP_DefaultNewType" value="Other" />
    <add key="FP_Directory" value="C:\Datacap\HOPLDEV\fingerprint" />
    <add key="FP_IsEnabled" value="False" />
    <add key="FP_PreserveOrigPageType" value="False" />
    <add key="FP_ProblemValue" value="0.7" />
    <add key="FP_SearchAreaBegin" value="0.05" />
    <add key="FP_SearchAreaEnd" value="0.3" />
    <add key="FP_URL" value="" />
    <add key="Keyword_IsEnabled" value="False" />
    <add key="Keyword_Mappings" value="&lt;Mappings /&gt;" />
    <add key="LastType_DefaultEnabled" value="False" />
    <add key="LastType_DefaultType" value="Other" />
    <add key="LastType_DefaultUntilSeparator" value="False" />
    <add key="LastType_IsEnabled" value="False" />
    <add key="LastType_IgnorePageEnabled" value="False" />
    <add key="LastType_IgnorePageType" value="Other" />
    <add key="LastType_Mappings" value="&lt;Mappings&gt;&#xD;&#xA;  &lt;Mapping&gt;&#xD;&#xA;    &lt;LastType&gt;FD 15G_15H&lt;/LastType&gt;&#xD;&#xA;    &lt;PageType&gt;FD 15G_15H_TrailingPage&lt;/PageType&gt;&#xD;&#xA;  &lt;/Mapping&gt;&#xD;&#xA;  &lt;Mapping&gt;&#xD;&#xA;    &lt;LastType&gt;FD 15G_15H_TrailingPage&lt;/LastType&gt;&#xD;&#xA;    &lt;PageType&gt;FD 15G_15H_TrailingPage&lt;/PageType&gt;&#xD;&#xA;  &lt;/Mapping&gt;&#xD;&#xA;&lt;/Mappings&gt;" />
    <add key="Recog_IsEnabled" value="False" />
    <add key="Recog_IsFullEnabled" value="False" />
    <add key="Recog_Area" value="1" />
    <add key="Recog_RotateImage" value="True" />
    <add key="ScanSrc_IsEnabled" value="True" />
    <add key="ScanSrc_MainPageType" value="Page" />
    <add key="ScanSrc_TrailingPageType" value="Page" />
    <add key="Adv_BC_CaseSensitive" value="False" />
    <add key="Adv_BC_DelimBarcodes" value="=" />
    <add key="Adv_BC_DelimMappings" value="," />
    <add key="Adv_DCOMap_Batch_Close" value="B" />
    <add key="Adv_DCOMap_Batch_Open" value="B" />
    <add key="Adv_DCOMap_Page_Open" value="P=Other" />
    <add key="Adv_FP_BlackFingerprints" value="False" />
    <add key="Adv_FP_MaxOffset" value="6" />
    <add key="Adv_FP_SvcUploadFailureThreshold" value="100" />
    <add key="Adv_Recog_OCRS_ContinueOnFailureRetry" value="True" />
    <add key="Adv_Recog_OCRS_Timeout_DCOProcessor1" value="185" />
    <add key="Adv_Recog_OCRS_Timeout_DCOProcessor2" value="185" />
    <add key="Adv_Recog_OCRS_Timeout_Engine1" value="180" />
    <add key="Adv_Recog_OCRS_Timeout_Engine2" value="180" />
    <add key="Adv_ScanSrc_SkipJobs" value="" />
    <add key="Adv_ScanSrc_VarName" value="ScanSrcPath" />
    <add key="BC_RegEx" value="False" />
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><applicationSettings>
        <IdentifyPages.Rul.Properties.Settings>
            <setting name="Adv_BC_DelimMappings" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="Adv_BC_DelimBarcodes" serializeAs="String">
                <value>=</value>
            </setting>
            <setting name="Adv_BC_CaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Adv_DCOMap_Batch_Open" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="Adv_DCOMap_Batch_Close" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="Adv_DCOMap_Page_Open" serializeAs="String">
                <value>P=Other</value>
            </setting>
            <setting name="Adv_FP_BlackFingerprints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Adv_FP_MaxOffset" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Adv_FP_SvcUploadFailureThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Adv_Recog_OCRS_ContinueOnFailureRetry" serializeAs="String">
              <value>True</value>
            </setting>
            <setting name="Adv_Recog_OCRS_Timeout_DCOProcessor1" serializeAs="String">
              <value>185</value>
            </setting>
            <setting name="Adv_Recog_OCRS_Timeout_DCOProcessor2" serializeAs="String">
              <value>185</value>
            </setting>
            <setting name="Adv_Recog_OCRS_Timeout_Engine1" serializeAs="String">
              <value>180</value>
            </setting>
            <setting name="Adv_Recog_OCRS_Timeout_Engine2" serializeAs="String">
              <value>180</value>
            </setting>
            <setting name="Adv_ScanSrc_SkipJobs" serializeAs="String">
                <value />
            </setting>
            <setting name="Adv_ScanSrc_VarName" serializeAs="String">
                <value>ScanSrcPath</value>
            </setting>
            <setting name="Adv_UI_ExpandMulti" serializeAs="String">
                <value>False</value>
            </setting>
        </IdentifyPages.Rul.Properties.Settings>
    </applicationSettings>
</configuration>
