<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Image_Convert.Rul.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="RuleName" value="" />
        <add key="RuleOpen" value="P" />
        <add key="RuleClose" value="" />
        <add key="bBitMap" value="True" />
        <add key="chkAll" value="True" />
        <add key="chkBMP" value="False" />
        <add key="chkGIF" value="False" />
        <add key="chkJPEG" value="False" />
        <add key="chkPNG" value="False" />
        <add key="chkTIFF" value="False" />
        <add key="rb96" value="False" />
        <add key="rb100" value="False" />
        <add key="rb150" value="False" />
        <add key="rb200" value="False" />
        <add key="rb300" value="True" />
        <add key="cmbMonotype" value="4" />
        <add key="bExcel" value="True" />
        <add key="bHTML" value="True" />
        <add key="bOutlook" value="True" />
        <add key="bPDF" value="True" />
        <add key="bRTF" value="True" />
        <add key="bSplitTiff" value="True" />
        <add key="bTXT" value="True" />
        <add key="bWord" value="True" />
        <add key="bZip" value="True" />
        <add key="bScanOk" value="False" />
        <add key="bDelete" value="True" />
        <add key="bHierarchical" value="False" />
        <add key="bSequential" value="True" />
        <add key="thresholdvalue" value="126" />
        <add key="rbCCITT3_BW" value="False" />
        <add key="rbCCITT4_BW" value="True" />
        <add key="rbLZW_C" value="False" />
        <add key="rbRLE_BW" value="False" />
        <add key="rbSource_BW" value="False" />
        <add key="rbSource_C" value="True" />
        <add key="rbUncompressed_C" value="False" />
        <add key="rbUncompressed_BW" value="False" />
        <add key="zipOverwrite" value="True" />
        <add key="chkUnzipPassword" value="False" />
        <add key="rbpdfBW" value="True" />
        <add key="rbpdf256" value="False" />
        <add key="rbpdftrue" value="False" />
        <add key="rbpdfC_none" value="False" />
        <add key="rbpdfC_RLE" value="False" />
        <add key="rbpdfC_CCITT3" value="False" />
        <add key="rbpdfC_CCITT4" value="True" />
        <add key="rbpdfC_LZW" value="False" />
        <add key="rbpdfC_JPEG" value="False" />
        <add key="rbpdfC_MacRLE" value="False" />
        <add key="rbpdfCon_Fast" value="False" />
        <add key="rbpdfCon_Qual" value="True" />
        <add key="chkpdfGrayscale" value="False" />
        <add key="pdfquality" value="100" />
        <add key="chkpdfhres" value="True" />
        <add key="chkpdfvres" value="True" />
        <add key="slipdfhres" value="300" />
        <add key="slipdfvres" value="300" />
        <add key="chkwrdres" value="True" />
        <add key="sliwrdres" value="300" />
        <add key="rbwrd_none" value="False" />
        <add key="rbwrd_CCITT4" value="True" />
        <add key="rbwrd_LZW" value="False" />
        <add key="chkoutmsg" value="False" />
        <add key="chkoutres" value="False" />
        <add key="slioutres" value="300" />
        <add key="rbout_none" value="False" />
        <add key="rbout_LZW" value="False" />
        <add key="rbout_CCITT4" value="True" />
        <add key="chkhtmlres" value="False" />
        <add key="slihtmlres" value="300" />
        <add key="rbhtml_none" value="False" />
        <add key="rbhtml_LZW" value="False" />
        <add key="rbhtml_CCITT4" value="True" />
        <add key="chkrtfres" value="True" />
        <add key="slirtfres" value="300" />
        <add key="rbrtf_none" value="False" />
        <add key="rbrtf_LZW" value="False" />
        <add key="rbrtf_CCITT4" value="True" />
        <add key="chktxtfont" value="False" />
        <add key="edtxtfont" value="" />
        <add key="chktxtsize" value="True" />
        <add key="slitxtsize" value="12" />
        <add key="chktxtres" value="True" />
        <add key="slitxtres" value="300" />
        <add key="rbtxt_none" value="False" />
        <add key="rbtxt_LZW" value="False" />
        <add key="rbtxt_CCITT4" value="True" />
        <add key="chkxlscolumns" value="False" />
        <add key="chkxlsrows" value="False" />
        <add key="rbxlslandscape" value="False" />
        <add key="rbxlsportrait" value="False" />
        <add key="rbxlsworkbook" value="True" />
        <add key="chkxlsblank" value="False" />
        <add key="chkxlsgridlines" value="False" />
        <add key="chkxlsscale" value="False" />
        <add key="slixlsscale" value="10" />
        <add key="chkxlsres" value="True" />
        <add key="slixlsres" value="300" />
        <add key="rbxls_none" value="False" />
        <add key="rbxls_LZW" value="False" />
        <add key="rbxls_CCITT4" value="True" />
        <add key="rbStatusDelete" value="False" />
        <add key="rbDeleteChild" value="True" />
        <add key="rbStaticSource" value="False" />
    </appSettings>
    <applicationSettings>
        <Image_Convert.Rul.Properties.Settings>
            <setting name="RuleClose" serializeAs="String">
                <value />
            </setting>
            <setting name="RSName" serializeAs="String">
                <value>Convert Images</value>
            </setting>
            <setting name="RuleOpen" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="bTiffSplit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bBitMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bZip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bPDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bTXT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOutlook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bExcel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bHTML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bRTF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bScanOk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bHierarchical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bSequential" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkBMP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkGIF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkJPEG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkPNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkTIFF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rb96" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rb100" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rb150" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rb200" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rb300" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cmbMonotype" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="thresholdvalue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="rbSource_C" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbUncompressed_C" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbLZW_C" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbSource_BW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbUncompressed_BW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbRLE_BW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbCCITT3_BW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbCCITT4_BW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="zipOverwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkUnzipPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbpdfBW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbpdf256" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbpdftrue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbpdfC_none" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbpdfC_RLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbpdfC_CCITT3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbpdfC_CCITT4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbpdfC_LZW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbpdfC_JPEG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbpdfC_MacRLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbpdfCon_Fast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbpdfCon_Qual" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkpdfGrayscale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pdfquality" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="chkpdfhres" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkpdfvres" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slipdfhres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="slipdfvres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="chkwrdres" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sliwrdres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="rbwrd_none" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbwrd_LZW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbwrd_CCITT4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkoutmsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkoutres" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slioutres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="rbout_none" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbout_LZW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbout_CCITT4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkhtmlres" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slihtmlres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="rbhtml_none" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbhtml_LZW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbhtml_CCITT4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkrtfres" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slirtfres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="rbrtf_none" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbrtf_LZW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbrtf_CCITT4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chktxtfont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="edtxtfont" serializeAs="String">
                <value />
            </setting>
            <setting name="chktxtsize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slitxtsize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="chktxtres" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slitxtres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="rbtxt_none" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbtxt_LZW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbtxt_CCITT4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkxlscolumns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkxlsrows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbxlslandscape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbxlsportrait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbxlsworkbook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkxlsblank" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkxlsgridlines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkxlsscale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slixlsscale" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="txtxlsscale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="txttxtres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="txtrtfres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="txthtmlres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="txtoutres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="txtpdfvres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="txtpdfhres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="txtwrdres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="chkxlsres" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slixlsres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="txtxlsres" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="rbxls_none" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbxls_LZW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbxls_CCITT4" serializeAs="String">
                <value>True</value>
            </setting>
        </Image_Convert.Rul.Properties.Settings>
    </applicationSettings>
</configuration>