<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecognizePagesAndFields.Rul.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="ReadZones.Page" value="True" />
        <add key="PageTypes" value="Page" />
        <add key="RecogPage.Page" value="True" />
        <add key="OCRSPage.Page" value="False" />
        <add key="OCRAPage.Page" value="False" />
        <add key="SaveOCRText.Page" value="False" />
        <add key="BarcodesPage.Page" value="False" />
        <add key="BarcodePageSel.Page" value="" />
    </appSettings>
    <applicationSettings>
        <RecognizePagesAndFields.Rul.Properties.Settings>
            <setting name="RuleOpen" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="RuleClose" serializeAs="String">
                <value />
            </setting>
            <setting name="RuleName" serializeAs="String">
                <value>Recognize Page</value>
            </setting>
            <setting name="OCRSPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OCRAPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BarcodesPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveOCRText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageTypes" serializeAs="String">
                <value />
            </setting>
            <setting name="FieldTypes" serializeAs="String">
                <value />
            </setting>
            <setting name="BarcodePageSel" serializeAs="String">
                <value />
            </setting>
            <setting name="BarcodeZoneSel" serializeAs="String">
                <value />
            </setting>
          <setting name="FieldOMRBackground" serializeAs="String">
            <value />
          </setting>
            <setting name="FieldBarcodeZone" serializeAs="String">
                <value />
            </setting>
            <setting name="RecogPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecogField" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RulesetName" serializeAs="String">
                <value>Recognize and Populate Fields</value>
            </setting>
            <setting name="ReadZones" serializeAs="String">
                <value>False</value>
            </setting>
        </RecognizePagesAndFields.Rul.Properties.Settings>
    </applicationSettings>
</configuration>