<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImportFiles.Rul.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="RSName" value="Import Files" />
        <add key="TypeDOC" value="False" />
        <add key="TypeGIF" value="False" />
        <add key="TypeHTML" value="False" />
        <add key="TypeJPEG" value="False" />
        <add key="TypeMSG" value="False" />
        <add key="TypePDF" value="False" />
        <add key="TypePNG" value="False" />
        <add key="TypeRTF" value="False" />
        <add key="TypeTIFF" value="True" />
        <add key="TypeTXT" value="False" />
        <add key="TypeXLS" value="False" />
        <add key="TypeZIP" value="False" />
        <add key="TypeAll" value="False" />
        <add key="TypeCustom" value="False" />
        <add key="TypeCustomValue" value="" />
        <add key="SortDate" value="False" />
        <add key="SortName" value="True" />
        <add key="IgnoreSub" value="False" />
        <add key="DeleteSub" value="False" />
        <add key="Multipage" value="False" />
        <add key="MaxDocs" value="" />
        <add key="Count01" value="False" />
        <add key="Count10" value="False" />
        <add key="Count25" value="False" />
        <add key="Count50" value="True" />
        <add key="Count100" value="False" />
        <add key="CountCustom" value="False" />
        <add key="CountAll" value="False" />
        <add key="ProblemFolder" value="False" />
        <add key="CopyFolder" value="True" />
    </appSettings>
    <applicationSettings>
        <ImportFiles.Rul.Properties.Settings>
            <setting name="RuleOpen" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="RSName" serializeAs="String">
                <value>Import Files</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>@APPPATH(vscanimagedir)</value>
            </setting>
            <setting name="TypeTIFF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TypeJPEG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypePDF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeZIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeDOC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeTXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeRTF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeMSG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypePNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeGIF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeXLS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxDocs" serializeAs="String">
                <value />
            </setting>
            <setting name="SortName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreSub" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteSub" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Multipage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Count01" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Count10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Count25" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Count50" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Count100" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CountAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CountCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeALL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeCustomValue" serializeAs="String">
                <value />
            </setting>
            <setting name="MetaData" serializeAs="String">
                <value />
            </setting>
            <setting name="ProblemFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyFolder" serializeAs="String">
                <value>False</value>
            </setting>
        </ImportFiles.Rul.Properties.Settings>
    </applicationSettings>
</configuration>